# Wrangling with Data
 - Dealing with Dates
 - Subsetting, filtering, sorting
 - Aggregating
 - Custom aggregations

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML
%matplotlib inline
import datetime

In [2]:
df = pd.DataFrame({
    'product_cat': ['a', 'b','a', 'c', 'a', 'b', 'b'],
    'sales': [42,23,64,13,30,30,54],
    'sale_date': ['2020/01/15', '2020/01/15', '2020/01/12', '2020/01/30', '2020/02/05', '2020/02/06', '2020/02/15']
})

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_cat  7 non-null      object
 1   sales        7 non-null      int64
 2   sale_date    7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

### Cleaning Date Column

In [4]:
df['sale_date'] = pd.to_datetime(df['sale_date'], format='%Y/%m/%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_cat  7 non-null      object
 1   sales        7 non-null      int64
 2   sale_date    7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 296.0+ bytes

### Subsetting and filtering data

In [5]:
df.product_cat

0    a
1    b
2    a
3    c
4    a
5    b
6    b
Name: product_cat, dtype: object

In [6]:
#obtaining the month of sale
df.sale_date.dt.month

0    1
1    1
2    1
3    1
4    2
5    2
6    2
Name: sale_date, dtype: int64

In [7]:
df.sale_date.dt.year

0    2020
1    2020
2    2020
3    2020
4    2020
5    2020
6    2020
Name: sale_date, dtype: int64

In [8]:
df.sale_date.dt.weekday

0    2
1    2
2    6
3    3
4    2
5    3
6    5
Name: sale_date, dtype: int64

In [9]:
df['product_cat']

0    a
1    b
2    a
3    c
4    a
5    b
6    b
Name: product_cat, dtype: object

In [10]:
df[['product_cat','sales']]

  product_cat  sales
0           a     42
1           b     23
2           a     64
3           c     13
4           a     30
5           b     30
6           b     54

In [11]:
#Retrieve all A category products

In [12]:
df[df.product_cat=='a']

  product_cat  sales  sale_date
0           a     42 2020-01-15
2           a     64 2020-01-12
4           a     30 2020-02-05

In [13]:
#Retrieve all A and B category products obtain the sale date

In [14]:
df[(df.product_cat=='a')|(df.product_cat=='b')]

  product_cat  sales  sale_date
0           a     42 2020-01-15
1           b     23 2020-01-15
2           a     64 2020-01-12
4           a     30 2020-02-05
5           b     30 2020-02-06
6           b     54 2020-02-15

In [15]:
#Sale date for a and b category products
df[(df.product_cat=='a')|(df.product_cat=='b')]['sale_date']

0   2020-01-15
1   2020-01-15
2   2020-01-12
4   2020-02-05
5   2020-02-06
6   2020-02-15
Name: sale_date, dtype: datetime64[ns]

In [16]:
#product a category with sales > 50
df[(df.product_cat=='a')&(df.sales>50)]

  product_cat  sales  sale_date
2           a     64 2020-01-12

### Sorting Data

In [17]:
df[df.product_cat=='a'].sort_values(by='sales',ascending=False)

  product_cat  sales  sale_date
2           a     64 2020-01-12
0           a     42 2020-01-15
4           a     30 2020-02-05

In [18]:
df[df.product_cat=='a'].sort_values(by='sale_date',ascending=False)

  product_cat  sales  sale_date
4           a     30 2020-02-05
0           a     42 2020-01-15
2           a     64 2020-01-12

### Aggregating Data

In [19]:
df.groupby(['product_cat']).agg({'sales': sum})

             sales
product_cat
a              136
b              107
c               13

In [20]:
df.groupby(['product_cat']).agg({'sales': 'sum'}).reset_index()

  product_cat  sales
0           a    136
1           b    107
2           c     13

In [21]:
df.groupby(['product_cat']).agg({'sales': 'sum'}).reset_index().rename(columns={'sales':'total_sales'})

  product_cat  total_sales
0           a          136
1           b          107
2           c           13

In [22]:
#Total sales for every product

In [23]:
df.groupby(['product_cat']).size()

product_cat
a    3
b    3
c    1
dtype: int64

In [24]:
df.groupby(['product_cat']).agg({'sales': 'count'}).reset_index().rename(columns={'sales':'count_sales'})

  product_cat  count_sales
0           a            3
1           b            3
2           c            1

In [25]:
df.groupby(['product_cat', 'sale_date']).agg({'sales': 'sum'})

                        sales
product_cat sale_date
a           2020-01-12     64
            2020-01-15     42
            2020-02-05     30
b           2020-01-15     23
            2020-02-06     30
            2020-02-15     54
c           2020-01-30     13

In [26]:
df.columns

Index(['product_cat', 'sales', 'sale_date'], dtype='object')

In [27]:
df[['product_cat','sales']].groupby('product_cat').mean().reset_index().rename(columns={'sales':'average_sales'})

  product_cat  average_sales
0           a      45.333333
1           b      35.666667
2           c      13.000000

### Custom aggregations

#### Calculate product wise  no. days between purchases

In [28]:
df

  product_cat  sales  sale_date
0           a     42 2020-01-15
1           b     23 2020-01-15
2           a     64 2020-01-12
3           c     13 2020-01-30
4           a     30 2020-02-05
5           b     30 2020-02-06
6           b     54 2020-02-15

In [29]:
list(df.groupby(['product_cat']))[0]

('a',
   product_cat  sales  sale_date
 0           a     42 2020-01-15
 2           a     64 2020-01-12
 4           a     30 2020-02-05)

In [30]:
for index, group in df.groupby(['product_cat']):
    print(index)

a
b
c

In [31]:
for index, group in df.groupby(['product_cat']):
    display(group)

  product_cat  sales  sale_date
0           a     42 2020-01-15
2           a     64 2020-01-12
4           a     30 2020-02-05

  product_cat  sales  sale_date
1           b     23 2020-01-15
5           b     30 2020-02-06
6           b     54 2020-02-15

  product_cat  sales  sale_date
3           c     13 2020-01-30

In [32]:
for index, group in df.groupby(['product_cat']):
    print('Group: ',index)
    print('Total Sales:',group.sales.sum())
    display(group)
    print('----')

Group:  a
Total Sales: 136

  product_cat  sales  sale_date
0           a     42 2020-01-15
2           a     64 2020-01-12
4           a     30 2020-02-05

----
Group:  b
Total Sales: 107

  product_cat  sales  sale_date
1           b     23 2020-01-15
5           b     30 2020-02-06
6           b     54 2020-02-15

----
Group:  c
Total Sales: 13

  product_cat  sales  sale_date
3           c     13 2020-01-30

----

In [33]:
pd.Series([10,20,30,40]).diff()

0     NaN
1    10.0
2    10.0
3    10.0
dtype: float64

In [34]:
for index, group in df.groupby(['product_cat']):
    print(index)
    group = group.sort_values('sale_date')
    group['dates_diff'] = group['sale_date'].diff()
    display(group)

a

  product_cat  sales  sale_date dates_diff
2           a     64 2020-01-12        NaT
0           a     42 2020-01-15     3 days
4           a     30 2020-02-05    21 days

b

  product_cat  sales  sale_date dates_diff
1           b     23 2020-01-15        NaT
5           b     30 2020-02-06    22 days
6           b     54 2020-02-15     9 days

c

  product_cat  sales  sale_date dates_diff
3           c     13 2020-01-30        NaT

#### Calculate product wise  no. Months between purchases???

#### Calcuate the Average No. of Days between purchases